<ion-view title="Ver anuncio" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="verAnuncio-heading1" style="color:#000000;">Heading</h1>
    <div id="verAnuncio-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>R$ 50,00</strong> Buritis - MG à 130km de Formosa - GO</p>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="verAnuncio-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <button id="verAnuncio-button1" class="button button-positive  button-block">Ver mais</button>
  </ion-content>
</ion-view>