<ion-header>
    <ion-navbar color="secondary">
      <ion-title text-center>APP TCC - Pesquisa</ion-title>
    </ion-navbar>
  </ion-header>
  
<ion-content  class="outer-content">
<ion-card>
    <ion-card-header>
        Pesquise seu produto e o destino dele.
   </ion-card-header>
  
  <ion-list >
    <ion-item>
       <ion-label floating>O que procura?</ion-label>
       <ion-input type="text" required [(ngModel)]="pesquisa.termo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Estado</ion-label>
       <ion-select cancelText="Cancelar" okText="Ok" large
            [(ngModel)]="pesquisa.uf"
            (ionChange)="carregarCidades($event)">
                <ion-option value="todos" selected="true">Todos</ion-option>
                <ion-option value="AC">AC</ion-option>
                <ion-option value="AL">AL</ion-option>
                <ion-option value="AM">AM</ion-option>
                <ion-option value="AP">AP</ion-option>
                <ion-option value="BA">BA</ion-option>
                <ion-option value="CE">CE</ion-option>
                <ion-option value="DF">DF</ion-option>
                <ion-option value="ES">ES</ion-option>
                <ion-option value="GO">GO</ion-option>
                <ion-option value="MA">MA</ion-option>
                <ion-option value="MG">MG</ion-option>
                <ion-option value="MS">MS</ion-option>
                <ion-option value="MT">MT</ion-option>
                <ion-option value="PA">PA</ion-option>
                <ion-option value="PB">PB</ion-option>
                <ion-option value="PE">PE</ion-option>
                <ion-option value="PI">PI</ion-option>
                <ion-option value="PR">PR</ion-option>
                <ion-option value="RJ">RJ</ion-option>
                <ion-option value="RN">RN</ion-option>
                <ion-option value="RO">RO</ion-option>
                <ion-option value="RR">RR</ion-option>
                <ion-option value="RS">RS</ion-option>
                <ion-option value="SC">SC</ion-option>
                <ion-option value="SE">SE</ion-option>
                <ion-option value="SP">SP</ion-option>
                <ion-option value="TO">TO</ion-option>
            </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cidade</ion-label>
      <ion-select large
      [(ngModel)]="pesquisa.cidade"
      >
      <ion-option value="todos" selected="true">Todos</ion-option>
        <ion-option *ngFor="let cidade of cidades"
         value="{{cidade.nome}}">{{cidade.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <button ion-button (click)=pesquisar() type="submit" 
        color="secondary" outline large text-right>Pesquisar</button>
         
    </ion-item>
</ion-list>
</ion-card>
<ion-card>
  <ion-card-header>
      Ultimas pesquisas
      
  </ion-card-header>
  <ion-list>
    <ion-item *ngFor="let item of pesquisaHistorico" (click)="preencherFormulario(item)" >
            <h3>{{item.termo}}</h3>
            <p> Cidade: {{item.localizacao.cidade}}  UF: {{item.localizacao.uf}} | {{item.created}}</p>
            
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>
